h6 {
    background-color: red; color: aliceblue;
}

p {
    margin: 30px 15px;
    padding: 20px 9px 19px 3px;
    background-color: aquamarine;
    border: 20px solid red;
}

h1 {
    border-style: solid;
    border-width: 20px;
    border-color: green cyan orange blueviolet;
}